<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="changecredentials" method="post">
      <input type="text" name="oldusername" placeholder="Enter Your Old Username"><br>
      <input type="text" name="oldpassword" placeholder="Enter Your Old Password"><br>
      <input type="text" name="newusername" placeholder="Enter Your New Username"><br>
      <input type="text" name="newpassword" placeholder="Enter Your New Password"><br>
      <button>Change</button>
  </form>


</body>
</html>